.divider {
    width: 100%;
    background-color: burlywood;
}

.divider-container {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    width: 89%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    max-width: inherit;
}

.divider-container h1{
    font-size: 25px;
    color: black;
}

.divider-container span {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pike {
    font-size: 20px;
}

@media only screen and (max-width: 780px) {

.divider-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}
}