.hero {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 1.5rem;
}

.hero-container {
width: 89%;
height: 100%;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1500px;
}

.hero-image {
    width: 500px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(to right, #659999, #f4791f);
    background-clip: padding-box;
    padding: 10px;
    justify-self: end;
    display: flex;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hero-container {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
}

.hero-container span {
    color: #659999;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.hero-buttons button {
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    background-color: gray;
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

.hero-buttons button:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    transform: translateY(-7px);
}
.hero-socials {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.hero-socials a:hover{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    /* transform: translateY(-7px); */
}

.hero-socials > a {
    font-size: 1.5rem;
    background-color: grey;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
}

@media only screen and (max-width: 780px) {
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container{
    flex-direction: column;
    height: fit-content;
}

.hero-heading {
    order: 2;
}

.hero-container h1 {
    text-align: center;
    font-size: 45px;
}

.hero-container span {
    font-size: 45px;
}

.hero-buttons {
    justify-content: center;
}

.hero-socials {
    justify-content: center;
}

.hero-image {
    width: 300px;
}
}

@media only screen and  (min-width: 781px) and (max-width: 1130px) {
.hero-image {
    width: 400px;
}

.hero-container h1 {
    font-size: 55px;
}

.hero-container span {
    font-size: 55px;
}

}
