.resume {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 1.5rem;
}

.resume-container {
    display: flex;
    width: fit-content;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1500px;
}

.title {
    padding: 1.5rem 0 1.5rem 2rem;
    background-color: #659999;
    width: 100%;
    
}

.title-summary {
   padding: 5rem;
    width: fit-content;
    height: fit-content;
    background-color: burlywood;
}

.resume-container2 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}

.skills-section {
    padding: 1.5rem 0 1.5rem 2rem;
    background-color: #659999;
}

.skills-paragraph {
    padding: 5rem;
    background-color: burlywood;
}

.skills-paragraph div{
    padding: 3rem 0rem 0rem 1.5rem;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    
}

.skills-paragraph span{
   font-weight: bolder;
}

@media only screen and (max-width: 768px) {
    .skills-paragraph {
        width: fit-content;
    }
    .skills-paragraph li{
        width: fit-content;
    }
}
